.footer {
  margin-top: 0;
  /* background: #f7fbfa; */
  padding: 60px 20px 20px;
  font-family: "Helvetica Neue", sans-serif;
   font-family: 'Helvetica Neue', sans-serif;
  /* padding-top: 50px; */
   border-top: 3px solid #91C8F6;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  /* margin-left: 100px; */
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 40px;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-logo-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  
}

.footer-logo-img {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.footer-logo-text {
  font-family: 'Leckerli One', cursive;
  font-size: 44px;
  font-weight: normal;
  color: #0b238f;
}

.footer-tagline {
  font-size: 18px;
  color: #555;
  max-width: 320px;
}

.footer-socials {
  display: flex;
  gap: 14px;
 
 
}

.footer-socials a svg {
  font-size: 36px;
}


.footer-socials a {
  color: #539ad9;
  transition: color 0.2s ease;

}

.footer-socials a:hover {
  color: #91C8F6;
}

.footer-links h4,
.footer-contact h4 {
  margin-bottom: 14px;
  font-size: 18px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.footer-links a:hover {
  color: #539ad9;
}

.footer-contact p {
  font-size: 18px;
  margin-bottom: 8px;
}

.footer-contact a {
  color: #333;
  /* text-decoration: none; */
}

.footer-contact a:hover {
  color: #539ad9;
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 13px;
  color: #777;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
