.footer {
  /* background-color: #0b23ef; */
  color: #333;
  font-family: 'Helvetica Neue', sans-serif;
  padding-top: 50px;
   /* background-color: #d8e3ec;
    */
      /* background-color: #b2d5f1; */
       border-top: 3px solid #91C8F6;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
 
}

/* Brand */
.footer-brand {
  max-width: 300px;
}

.footer-logo {
  font-size: 34px;
  font-family: 'Leckerli One', cursive;
  margin-bottom: 10px;
}

.footer-tagline {
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.9;
}

/* Links */
.footer-links h4,
.footer-contact h4 {
  font-size: 18px;
  margin-bottom: 12px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  opacity: 0.9;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Contact */
.footer-contact p {
  font-size: 18px;
  margin-bottom: 8px;
}

.footer-contact a {
  color: black;
  text-decoration: none;
}

.footer-contact a:hover {
  text-decoration: underline;
}

/* Bottom bar */
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.2);
  text-align: center;
  padding: 15px 20px;
  font-size: 13px;
  opacity: 0.85;
}

.footer-logo-link {
  text-decoration: none;
  cursor: pointer;
}

.footer-logo {
 font-family: 'Leckerli One', cursive;
  font-size: 34px;
  font-weight: normal;
  color: #0b238f;
  /* color: #91C8F6; */
  /* color: #539ad9; */
  margin: 0;
}

