.services-section {
  padding: 80px 20px;
  /* background: #f7fbfa; */
  margin-top: -100px !important;
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 100px;
}

.services-title {
  text-align: center;
  font-size: 36px;
  /* margin-bottom: 60px; */
}

.services-description{
  text-align: center;
  font-size: 18px;
  color: #555;
  max-width: 600px;
  margin: 0 auto 40px auto;
}
/* GRID */
.services-grid {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* CARD */
.service-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05); */
   box-shadow: 0 0 0 2px rgba(83, 154, 217, 0.25),
    0 12px 30px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.service-card:hover {
  transform: translateY(-6px);
   box-shadow: 0 0 0 2px rgba(10, 128, 231, 0.25),
    0 12px 30px rgba(0, 0, 0, 0.06);
  /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08); */
 

}

/* ICON */
.service-icon {
  width: 56px;
  height: 56px;
  border-radius: 14px;
  background: rgba(145, 200, 246, 0.25);
  color: #539ad9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.service-icon svg {
  font-size: 28px;
}

/* TEXT */
.service-title {
  font-size: 20px;
  margin-bottom: 12px;
}

.service-description {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 1100px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}
