.services-section {
  position: relative;            /* Make z-index work */
  z-index: 10;                   /* Bring to top */
  background-color: white;       /* Set white background */
  padding: 40px 20px;
  /* max-width: 1100px; */
  /* margin: 0 auto; */
  font-family: 'Helvetica Neue', sans-serif;
  margin-top: -200px;
    margin-bottom: 0;
} 

.services-title {
    margin-top: 10px !important;
    background-color: white;
  text-align: center;
  font-size: 56px;
  color: #000;
  margin-bottom: 50px;
  font-weight: normal;
}

.services-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px 80px;
  margin-bottom: 40px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 180px;
}

.flip-card {
  width: 200px;
  height: 300px;
  /* perspective: 1000px; */
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 200px;
  height: 100%;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #91C8F6;
  color: black;
}

.flip-card-back {
  background-color: #539ad9;
  color: white;
  font-size: 16px !important;
  font-weight: 400;
  transform: rotateY(180deg);
}


/* Shadow line below each card */
.card-shadow {
  margin-top: 10px;
  width:200px;
  height: 25px;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 0%, transparent 70%);
  border-radius: 50%;
  filter: blur(0.8px);
}

.shell-left {
  height: 450px;
  width: 1000px !important;
  margin-right: 1330px !important;
    margin-top: -400px;
    rotate: -40deg;
}

.shell-right {
  height: 450px;
  width: 700px !important;
  margin-left: 1330px !important;
    margin-top: -750px;
    rotate: -30deg;
}
